<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]

    <FilesMatch "\.(?!php$)[a-z0-9]+$">
        Order allow
        allow from all
    </FilesMatch>
</IfModule>
